[submodule "apps/react-native/ios"]
	path = apps/react-native/ios
	url = https://github.com/onflow/FRW-iOS.git
	branch = dev

[submodule "apps/react-native/android"]
	path = apps/react-native/android
	url = https://github.com/onflow/FRW-Android.git
	branch = develop
