shamefully-hoist=true
strict-peer-dependencies=false
dedupe-peer-dependents=true
auto-install-peers=false  
prefer-dedupe-existing=true
dedupe-injected-deps=true
public-hoist-pattern=*
hoist-pattern=*