<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instabug-key</key>
	<string>08b0089fd63328bb842c7e5475798233</string>
	<key>dropbox-appkey</key>
	<string>igsit8jtlhq6dfm</string>
	<key>scripts-publicKey</key>
	<string>25bda455f2f765a2375732e44ed34eb52a611b3b14607e43b2766c6c07a3f7b0abbd2fc38543f874cbaec50f53f0b6d685e85f78dbb5ffd81c66d9ba8c67b404</string>
	<key>INSTABUG_RN_TOKEN</key>
	<string>7188d1f50f4e835ae1cecdbe829a1595</string>
	<key>MixPanelToken</key>
	<string>a1adc82c2fef15f522310718761fbae0</string>
</dict>
</plist>
